<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" ngModel name="title" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Author</ion-label>
            <ion-input type="text" ngModel name="author" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Publisher</ion-label>
            <ion-input type="text" ngModel name="publisher"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label position="floating">Genre</ion-label>
            <ion-input type="text" ngModel name="genre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label position="floating">Pages</ion-label>
            <ion-input type="number" ngModel name="pages"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-select label="Status" label-placement="floating" ngModel name="status" required>
              <ion-select-option value="unread" color="red">Unread</ion-select-option>
              <ion-select-option value="reading">Reading</ion-select-option>
              <ion-select-option value="read">Read</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="tertiary" expand="block" shape="round"
            [disabled]="addForm.invalid">Add</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>