<ion-item>
  <ion-avatar slot="start">
    <ion-img [src]="bookExtended.imageUrl"></ion-img>
  </ion-avatar>
  <ion-label>
    <ion-grid>
      <h1>{{bookExtended.title}}</h1>
      <ion-row>
        <ion-col col="6">
          {{bookExtended.author}}
        </ion-col>
        <ion-col col="6">
          <p class="ion-text-end"><ion-icon name="star-outline" slot="end"></ion-icon> {{bookExtended.rating}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          "{{bookExtended.text}}"
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-label>
</ion-item>